body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.deposit-container {
    text-align: center;
}

.withdraw-container {
    text-align: center;
}

.balance-container {
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #333;
}

h3 {
    color: #333;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.list li.minus {
    color: red;
}

.list li.plus {
    color: green;
}

.form-control {
    margin: 10px 0;
    margin-right: 20px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
}

.form-control input:focus {
    outline: none;
    border-color: #333;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-deposit {
    background-color: #3b82f6;
    color: white;
    font-weight: 600;
    padding: 10px 24px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.btn-deposit:hover {
    background-color: #2563eb;
    transform: scale(1.05);
}

.btn-deposit:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
}

.btn-withdraw {
    background-color: #ef4444;
    color: white;
    font-weight: 600;
    padding: 10px 24px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.btn-withdraw:hover {
    background-color: #dc2626;
    transform: scale(1.05);
}

.btn-withdraw:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(239, 68, 68, 0.5);
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}